.contact-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.contact-item {
  background-color: var(--base-color-gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 1rem 1rem;
  border-radius: 0.75rem;
  text-decoration: none;
  color: var(--base-color-gray-600);
}

.contact-item:hover {
  background-color: var(--base-color-gray-200);
}

.contact-item img {
  width: 24px;
  height: 24px;
}

.contact-item p {
  flex: 1;
  font-weight: 500;
  font-size: 1rem;
  color: var(--base-color-gray-600);
}
