.icons-code {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;      
  margin-top: 3rem;  
}

.icon-item {
  display: flex;  
  align-items: center; 
  gap: 0.2rem;        
  padding: 4px;
  border: 2px solid var(--base-color-gray-300);
  border-radius: 16px;
  background-color: var(--base-color-gray-300);
}

/* Geral hover */
.icon-item:hover {
  transform: translateY(-4px);
  filter: brightness(1.1);
}

.icon-item img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 4px;
  background-color: transparent;
}

.icon-item:nth-child(1) img {
  filter: invert(1);
}

.icon-item:nth-child(2) img {
  background-color: var(--main-color-red); /* HTML */
}

.icon-item:nth-child(3) img {
  background-color: var(--main-color-blue); /* CSS */
}

.icon-item:nth-child(4) img {
  background-color: var(--main-color-yellow); /* JS */
  padding: 2px;
  border-radius: 4px;
}

.icon-item:nth-child(5) img {
  background-color: var(--main-color-blue); /* React */
  padding: 2px;
  border-radius: 4px;
}

.icon-item:nth-child(6) img {
  background-color: var(--main-color-green) /* Node.js */
}
.icon-caret {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 10rem;
}
.profile-icon {
  position: absolute;
  bottom: 10px;
  right: -10px; 
  width: 40px;
  height: 40px; 
}

.icon-purple {
  width: 36px;
}

.icon-yellow {
  width: 36px;
}

.icon-green {
  width: 36px;
}